.navbar {
  padding: 1rem 0;
  background-color: #222;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.list {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.item a {
  color: #FFF;
  text-decoration: none;
  font-weight: 500;
}

.item a:hover {
  color: #ffbb33;
}